BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentPPDirectives: None
PointerAlignment: Left
DerivePointerAlignment: false
